.config/iterm2/AppSupport/SavedState/*
.config/nvim/lazy-lock.json

# Runtime/state files written by apps into symlinked config dirs
dotfiles/.config/aerospace/aerospace
dotfiles/.config/btop/btop
dotfiles/.config/gh/gh
dotfiles/.config/nvim/nvim
